@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'montserrat-extra-bold';
    src: url('../fonts/Montserrat-ExtraBold.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/Montserrat-Medium.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-Regular.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'novecentowide-bold';
    src: url('../fonts/Novecentowide-Bold.otf'); /* IE9 Compat Modes */
}