
.navbar-menu{
    margin-left: 0px;
    cursor: pointer;
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1050;
}

.navbar-menu span{
    background-color: var(--main-color);
    display: block;
    width: 32px;
    height: 4px;
    position: relative;
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
}

.navbar-menu span:first-child{
    top: 0;
    transition-property: top, transform;
}

.navbar-menu span:last-child{
    bottom: 0;
    transition-property: bottom, transform;
}

.navbar-menu span:nth-child(2n){
    opacity: 1;
    transition-delay: 0s, 0.3s;
}

.navbar-menu.active{
    background: none;
}

.navbar-menu.active span{
    background-color: white;
}

.navbar-menu.active span:first-child{
    top: 10px;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
}

.navbar-menu.active span:last-child{
    bottom: 10px;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
}

.navbar-menu.active span:nth-child(2n){
    opacity: 0;
    transition-delay: 0s, 0.3s;
}

/* This sections works for the nav menu content */

.menu-content{
    position: fixed;
    height: 100%;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--font-color);
    z-index: 100;
    opacity: 0;
    visibility: 0;
    transition-delay: 0s, 0.3s;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
}


.menu-content.active{  
    top: 0vh;
    opacity: 1;
    visibility: 1;
    transition-delay: 0s, 0.3s;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
}

.menu-content .menu-list{
    opacity: 0;
    visibility: 0;
    transform: translate(0%, 25%);
    height: 100% !important
}
.menu-content.active .menu-list{
    opacity: 1;
    visibility: 1;
    transform: translate(0%, 0%);
    transition: all 1s ease-in-out;
}

.menu-content .menu-list a:hover{
    color: white;
}



/* Styles of list */

.menu-content a{
    color: var(--main-color) !important;
    font-family: var(--title-bold-font);
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10px;
}


.menu-content a:hover{
    color: white !important;
}

.menu-content a.active{
    text-align: center;
    color: white !important;
}

.menu-content a.active::after{
    display: block;
    content: '';
    width: 130px;
    height: 2.5px;
    background-color: white;
    margin: 8px auto 0 auto;
}

.navbar-social{
    width: 100%;
}

.navbar-social a{
    font-size: 30px !important;
}

.nav-deco-line{
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    margin-bottom: 30px;
}

@media (min-width: 768px){
    .menu-content a{
        margin-bottom: 15px;
        font-size: 25px;
    }

    .navbar-menu{
        margin-left: 90px;
    }
}

@media (min-width: 992px){
    .menu-content a{
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media (min-width: 1200px){
    .menu-content a{
        margin-bottom: 25px;
        font-size: 35px;
    }
}

@media (min-width: 1600px){
    .menu-content a{
        margin-bottom: 30px;
        font-size: 45px;
    }
}

