/** Contenedor Popup */
.popup {
    padding: 0 !important;
    background-color: transparent !important;
}
.popup--mobile {
    padding: 0 !important;
    background-color: transparent !important;
}
/** Link Popup */
.popup__link {
    display: block;
}
.popup__link--mobile {
    display: block;
}
/** Imagen Popup */
.popup__image {
    width: 500px;
    height: 500px;
    display: block;
    max-width: 100%;
}
.popup__image--mobile {
    width: 300px;
    height: 500px;
    display: block;
    max-width: 100%;
}
/** Botón cerrar Popup */
.popup--mobile .fancybox-button.fancybox-close-small,
.popup .fancybox-button.fancybox-close-small {
    background-color: white;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    color: red;
    padding: 5px;
    opacity: 1;
    transition: all .1s;
}
.popup--mobile .fancybox-button.fancybox-close-small:hover,
.popup .fancybox-button.fancybox-close-small:hover {
    opacity: 1;
    background-color: red;
    color: #fff;
}
/** Fix: Eliminar el efecto de focus sobre el elemento popup - Fancybox */
.popup__image--mobile:focus, .popup__link--mobile:focus,
.popup__image:focus, .promotion__link:focus {
    outline: none !important;
}
