html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --main-color: #675959;
    --secondary-color: #046275;
    --font-color: #353535;
    --button-font-color: #675959;
    --card-font-color: #353535;
    --main-font: 'montserrat-regular';
    --main-font-bold: 'montserrat-bold';
    --main-font-extra-bold: 'montserrat-extra-bold';
    --main-font-medium: 'montserrat-medium';
    --title-bold-font: 'novecentowide-bold';
    --footer-bg-color: #675959;
}


/* Global Styles */

body{
    font-family: var(--main-font);
}

h1,h2,h3{
    color: var(--main-color);
}

p, a, li{
    color: var(--font-color);
}

p{
    text-align: center;
    font-size: 1rem;
}

a:hover, a:active, a:focus{
    color: inherit !important;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title{
    font-size: 35px;
    font-family: var(--title-bold-font);
    color: var(--card-font-color);
    text-align: center;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-custom{
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 8px;
    border: solid 2px var(--button-font-color);
    font-size: 1rem;
    color: var(--button-font-color);
    font-family: var(--main-font-extra-bold);
    min-width: 250px;
    height: 40px;
    position: relative;
    transition: 0.5s all ease;
}

.btn-custom::before, .btn-custom-2::before{
    z-index: 0;
    background: var(--main-color) !important;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}

.btn-custom:hover::before, .btn-custom-2:hover::before{
    width: 100%;
    border-radius: 3px;
    border: solid 2px var(--main-color);
}

.btn-custom:hover.btn-custom, .btn-custom-2:hover.btn-custom-2{
    z-index: 1;
    color: white !important;
    border: solid 2px var(--main-color);
    border-radius: 8px;
}

.btn-custom-2{
    display: block;
    text-decoration: none;
    border-radius: 8px;
    border: solid 2px var(--font-color);
    color: var(--button-font-color);
    background-color: transparent;
    font-family: var(--main-font-extra-bold);
    width: 280px;
    font-size: 1rem;
    width: auto;
    max-width: 370px;
    height: 40px;
    position: relative;
    transition: 1s all ease;
}

.more-button{
    text-align: center;
}

.deco-line-center::after{
    display: block;
    content: '';
    width: 125px;
    height: 4px;
    background-color: var(--font-color);
    margin: 10px auto 0 auto;
}

.deco-line::after{
    display: block;
    content: '';
    width: 125px;
    height: 4px;
    background-color: var(--font-color);
    margin: 10px auto 0 auto;
}

.deco-line.line-color-main::after{
    background-color: var(--main-color);
}

.bg-gray{
    background-color: rgba(103, 89, 89, 0.06);
}

.space-2{
    margin-bottom: 50px;
}

/* Scroll Up Button */

#scroll-up{
    z-index: 3;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #77979D;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 1px;
    transition: 0.5s all ease;
}

#scroll-up.active{
    opacity: 1;
    transition: 0.5s all ease;
}

#scroll-up.footer{
    background-color: white;
    color: var(--main-color);
}

/* Sweet Alert */

.swal2-styled.swal2-confirm{
    background-color: var(--main-color) !important;
}


/* Headers */

.header-image{
    width: 100% !important;
    height: 35vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

.header-title{
    color: white;
    font-size: 1.6rem;
}

/* Modals */

.modal-header{
    background-color: var(--main-color);
    color: white !important;
}

.modal-header .btn-close{
    color: white !important;
}

.header-deco{
    display: block;
    content: '';
    background-color: #dddddd;
    width: 100%;
    height: 3px;
    position: relative;
    margin-bottom: 50px;
}

.header-logo-deco{
    position: absolute;
    top: 3px;
    left: 0;
}

#link-modal-password{
    cursor: pointer;
    text-decoration: underline;
}


/* Swiper Styles */

.home-swiper .swiper-slide{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-swiper .swiper-wrapper{
    max-height: calc(100vh - 70px) !important;
}

.home-swiper{
    overflow-x: hidden;
    position: relative;
}

.home-swiper .swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    background: var(--main-color) !important;
    opacity: 1;
}

.home-swiper .swiper-pagination-bullet-active{
    background: #ffffff !important;
}

.home-swiper .swiper-pagination-fraction, .home-swiper .swiper-pagination-custom, .home-swiper .swiper-horizontal > .swiper-pagination-bullets, .home-swiper .swiper-pagination-bullets.swiper-pagination-horizontal{
    text-align: right;
    padding: 0 25px;
    position: relative !important;
}

.home-swiper .swiper-pagination{
    z-index: 99 !important;
}

.main-scroll-down{
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 36px;
    z-index: 11;
    color: white;
    font-size: 24px;
}

.main-scroll-down div{
    flex: 0 0 calc(33%) !important;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }



/* Navbar Styles */

.nav-options{
    color: var(--main-color) !important;
}

.nav-options {
    font-size: 35px;
    
}

.main-navbar a{
    text-decoration: none;
    font-size: 14px;
}

.navbar-logo{
    margin-left: 80px;
}

.main-navbar {
    background-color: #ffffff;
    height: 70px;
}

.main-navbar.hide{
    box-shadow: none;
    background: transparent;
}

.navbar-toggler{
    padding-left: 0!important;
    padding-right: 0!important;
}

.main-navbar .logo img{
    max-height: 50px;
    max-width: 150px;
}

.about-description h2{
    color: var(--main-color);
}

.about-description p{
    font-size: 1rem;
}


.main-navbar .dropdown a{
    color: var(--main-color) !important;
}

.main-navbar .dropdown-menu.show{
    min-width: 200px;
}

.main-navbar .dropdown-menu.show li{
    margin: 10px 0;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.line-separator{
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}


/* Footer */

.space{
    display: block;
    content: '';
    height: 50px;
    width: 100%;
}

.main-footer{
    z-index: 1;
    height: 100%;
    padding: 30px 20px;
    background-color: var(--footer-bg-color);
}

.footer-logo img{
    max-width: 180px !important;
}

.main-footer nav a{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.main-footer a{
    color: white !important;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--main-font-bold);
}

.main-footer a.link-line::after{
    display: block;
    content: '';
    width: 50px;
    height: 1.5px;
    background-color: white;
    margin: 2px auto 0 auto;
}

.main-footer a:hover{
    cursor: pointer !important;
    color: white !important;
}

.main-footer p{
    color: white;
    font-size: 18px;
    font-family: var(--main-font-extra-bold);
}

.footer-social-icons a{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none !important;
}

.main-footer a i{
    font-size: 25px;
}

.main-footer h3{
    color: white;
    font-size: 1rem;
}

.footer-social-icons{
    max-width: 240px;
    margin: 0 auto;
}

.text-underline{
    text-decoration: underline !important;
}



/* Home */

.benefits-home-section .subtitle{
    color: var(--font-color);
    font-size: 1rem;
}

.benefits-home-section img{
    max-width: 620px;
    width: 100%;
}

/* Estado de cuenta */
.account-bg{
    background-image: url('../images/account-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.account-content-bg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
    z-index: -1;
}

.account-data p, .account-data h5{
    margin-bottom: 25px;
}

.account-data p{
    font-family: var(--main-font-extra-bold);
    color: white;
    text-align: center;
}

.account-data p span{
    font-family: var(--main-font-medium);
}

.account-data h5{
    font-family: var(--main-font-bold);
    font-size: 27px;
    color: white;
}

.account-data h2{
    font-family: var(--title-bold-font);
    color: var(--main-color);
    font-size: 52px;
}

.account-data{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.logout-btn{
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font-extra-bold);
    font-size: 16px;
}

.account-card-img{
    margin-bottom: 20px;
    position: relative;
    min-width: 320px;
    max-width: 500px;
    width: 100%;
}

.account-card-img img.img-card{
    min-width: 320px;
    max-width: 500px;
    width: 100%;
}

.barcode-bg{
    position: absolute;
    width: 100% !important;
    bottom: 20px;
    left: 0px;
    text-align: center;
}

.barcode-img{
    filter: invert();
    text-align: right;
    min-width: 230px;
    width: 60% !important;
    height: auto;
    max-width: 400px;
}

.benefits-home-section{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 160px !important;
}

.news-swiper{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}

.swiper-button-prev, .swiper-button-next{
    color: var(--main-color);
}


.news-swiper .swiper-button-next{
    right: 0px;
}

.news-swiper .swiper-button-prev{
    left: 0px;
}


/********************************************************************
*
*   CARD CERTIFICATE
*
*********************************************************************/
.card-flex{
    flex: 0 0 100%;
    margin: 1%;
}

.certificate{
    border-radius: 25px;
    padding: 0px 0px 10px 0px;
    background-color: white;
    margin: 5px;
}

.card-wrap{
    border-radius: 25px;
    filter: drop-shadow(5px 5px 3px rgba(123, 123, 123, 0.2));
}

.certificate__info{
    padding: 0 15px;
}

.certificate__title {
    height: 45px !important;
    margin-top: 1rem;
    font-size: 15px;
    font-family: var(--main-font-extra-bold);
    text-transform: uppercase;
    color: var(--main-color);
}
.certificate__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--main-font);
    color: var(--font-color);
}
.certificate__description {
    text-align: justify;
    height: 90px !important;
    font-size: 15px;
    color: var(--card-font-color);
    min-height: 80px;
}
.certificate__list{
    height: 50px !important;
    margin: 1.5rem 0 1rem;
    font-size: 16px;
    font-family: var(--main-font-bold);
    color: var(--font-color) !important;
}
.certificate__item {
    color: var(--card-font-color);
}
.certificate__item:first-child {
    margin-right: 2rem;
}
.certificate__item i {
    color: var(--main-color) !important;
    margin-right: .3rem;
}

.certificate__image {
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}
.certificate__rules {
    font-size: .8rem;
}
.certificate__rules-title {
    height: 35px !important;
    margin-bottom: 0 !important;
    font-size: .9rem;
    cursor: pointer;
    color: var(--main-color);
}

.certificate__no-rules-title{
    height: 35px !important;
    font-size: .9rem;
    cursor: pointer;
    color: var(--card-font-color);
}
.certificate__rules-item {
    padding-left: 1rem;
}

.certificate__rules-item li{
    color: var(--card-font-color);
}


/********************************************************************
*
*   CARDS AND BENEFITS
*
*********************************************************************/
/* .benefit .certificate__info{
    height: 258px;
} */


.cardBenefit {
    margin-top: 2rem;
}
.cardBenefit h5 {
    margin: 1.5rem 0 1rem;
    text-transform: uppercase;
}
.cardBenefit p {
    color: var(--card-font-color);
    font-size: .9rem;
}
.cardBenefit span {
    color: var(--secondary-color);
    font-size: .8rem;
}
.cardBenefit i {
    color: var(--secondary-color);
}
.cardBenefit p span {
    color: var(--card-font-color);
}

/********************************************************************
*
*   Conocenos
*
*********************************************************************/

.step-title{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: bold;
    display: block;
    text-align: center;
}

.step-description{
    margin-bottom: 0 !important;
    margin-left: 25px;
}

.seccion-conocenos img{
    width: 60%;
    margin: 0 auto;
    max-width: 770px !important;
    max-height: 750px !important;
    
}

.seccion-conocenos h3{
    font-family: var(--title-bold-font);
    color: var(--main-color);
    text-align: center;
}

.seccion-conocenos p{
    font-family: var(--main-font-medium);
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.step-title{
    width: 60px;
}

.card-info-title{
    font-family: var(--main-font-extra-bold);
    color: var(--main-color);
    font-size: 27px;
}

.card-info-section{
    padding-top: 40px;
}

.steps-section{
    padding-bottom: 30px;
}


/********************************************************************
*
*   Contacto
*
*********************************************************************/

.contact-section p{
    margin-bottom: 5px !important;
    text-align: center !important;
}

.contact-section h2{
    font-size: 2.5rem;
}

.contact-section a{
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.contact-title{
    font-family: var(--main-font-bold);
    font-size: 27px;
    color: var(--main-color);
}


.map iframe{
    width: 100%;
    height: 350px;
}



@media (min-width: 768px) {

    p{
        text-align: left;
    }

    .btn-custom{
        margin: 0;
    }
    .section-title{
        font-size: 52px;
        text-align: left;
    }

    .main-navbar{
        padding: 0;
        background: rgba( 255, 255, 255, 0.8 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }

    .data-container{
        text-align: left;
    }
    

    .bg-data-profile::before{
        background-position: top center;
    }

    .header-title{
        font-size: 3rem;
    }
    
    
    .more-button{
        text-align: left;
    }

    .bg-data-profile{
        position: relative;
        height: 70vh;
    }

    .points-info{
        justify-content: space-between
    }

    .main-footer h3{
        font-size: 1.6rem;
    }

    .div-line{
        width: 50%;
    }

    .recovery-form{
        margin: 0 auto;
        max-width: 400px;
        padding: 15px;
    }

    .main-navbar .logo img{
        max-height: 63px;
        max-width: 150px;
    }

    .seccion-conocenos h3{
        text-align: left;
    }

    section{
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .benefits-home-section{
        min-height: 300px !important;
    }

    .card-flex{
        flex: 0 0 48%;
    }

    .barcode-bg{
        bottom: 20px;
        left: 0px;
    }
    
}

@media (min-width: 1000px) {
    .account-data p{
        text-align: left;
    }

    .deco-line::after{
        margin: 10px 0 0 0;
    }
    
    .account-content-bg{
        width: 50%;
    }
    .account-data{
        text-align: left;
    }

    .benefits-home-section{
        min-height: 500px !important;
    }

    .card-flex{
        flex: 0 0 30%;
    }
}

@media (min-width: 1400px){

    .benefits-home-section{
        min-height: 550px !important;
    }

    .container{
        min-width: 1200px;
    }

    .card-flex{
        flex: 0 0 23%;
    }
}

@media (min-width: 1600px){


    .benefits-home-section{
        min-height: 600px !important;
    }

    .container{
        min-width: 1400px;
    }

    .card-flex{
        flex: 0 0 23%;
    }
}

@media (min-width: 1800px){
    .container{
        min-width: 1600px;
    }

    .card-flex{
        flex: 0 0 23%;
    }
}